.news2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.img2 {
  flex: 1;
  margin: 10px;
}

.info2 {
  flex: 2;
}

@media (max-wdith: 500px) {
  .news2 {
    flex-direction: column;
    text-align: center;
  }
  .info2 {
    margin-bottom: 20px;
  }
}

.container2 {
  padding: 0 2rem;
 }
 
 .pagination2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
 }
 
 .pageLink2 {
  cursor: pointer;
 }
 
 /* pagination pageItem */
 .pageItem2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
 }
 
 /* pagination page item when active */
 .pageItemActive2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgb(189, 223, 206);
 }